{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({"text": "Back", "href":
"javascript:window.history.back()"}) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Which of the following types of accommodation best describes the
      short-term rental?
    </h1>
    <form class="form" action="/property-info/dwelling-type" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="accomodation-type-1"
                name="accomodation-type"
                type="radio"
                value="House"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="accomodation-type-1"
                >House</label
              >
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="accomodation-type-2"
                name="accomodation-type"
                type="radio"
                value="Cottage"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="accomodation-type-2"
                >Cottage</label
              >
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="accomodation-type-3"
                name="accomodation-type"
                type="radio"
                value="Flat"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="accomodation-type-3"
                >Flat</label
              >
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="accomodation-type-4"
                name="accomodation-type"
                type="radio"
                value="Bungalow"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="accomodation-type-4"
                >Bungalow</label
              >
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="accomodation-type-5"
                name="accomodation-type"
                type="radio"
                value="Room"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="accomodation-type-5"
                >Room</label
              >
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="accomodation-type-other"
                name="accomodation-type"
                type="radio"
                value="Other - Please specify"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="accomodation-type-other"
              >
                <p>Other - Please specify</p>
                <input
                  class="govuk-input"
                  id="accomodation-other"
                  name="accomodation-type"
                />
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      {{ govukButton({"text": "Continue"}) }}
    </form>
  </div>
</div>
{% endblock %}
