{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Provide details of the management agency</h1>

    <form class="form" action="/compliance-info/certificates" method="post">
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="agency-name">
            Name of management agency
          </label>
          <input
            class="govuk-input"
            id="agency-name"
            name="agency-details"
            type="text"
            value="Hiltonz"
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-name">Name of agent</label>
          <input
            class="govuk-input"
            id="agent-name"
            name="agency-details"
            type="text"
            value="John Doe"
          />
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="agency-email"
            >Contact email address</label
          >
          <input
            class="govuk-input"
            id="agency-email"
            name="agency-details"
            type="email"
            spellcheck="false"
            aria-describedby="email-hint"
            autocomplete="email"
            value="john.doe@example.com"
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agency-telephone"
            >Contact telephone number</label
          >
          <input
            class="govuk-input"
            id="agency-telephone-number"
            name="agency-details"
            type="tel"
            autocomplete="tel"
            value="01234 567891"
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agency-address">
            Correspondence address
          </label>
          <input
            class="govuk-input"
            id="agency-address"
            name="agency-details"
            type="text"
            value="123 Rag Lane"
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agency-postcode"> Postcode </label>
          <input
            class="govuk-input"
            id="agency-postcode"
            name="agency-details"
            type="text"
            value="SW15 2SR"
          />
        </div>
      </fieldset>

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
