{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({"text": "Back", "href":
"javascript:window.history.back()"}) }} {% endblock %} {% block content %} {%
set addressLineOne = data['address-line-1'] or "2 Logg Lane" %} {% set
townOrCity = data['town-or-city'] or "Birmingham" %} {% set addressPostcode =
data['address-postcode'] or "BG13 1HN" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Is the address of the short-term rental property the same as your current
      home address?
    </h1>
    <div class="govuk-inset-text">
      {{ addressLineOne }}, {{ townOrCity }}, {{ addressPostcode }}
    </div>
    <form class="form" action="/different-address" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="sameAddress"
                name="sameAddress"
                type="radio"
                value="sameAddress"
              />
              <label class="govuk-label govuk-radios__label" for="sameAddress"
                >Yes, it's the same address</label
              >
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="differentAddress"
                name="sameAddress"
                type="radio"
                value="differentAddress"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="differentAddress"
                >No, it's a different address</label
              >
            </div>
          </div>
        </fieldset>
      </div>
      {{ govukButton({"text": "Continue"}) }}
    </form>
  </div>
</div>
{% endblock %}
