{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell us about how the short-term rental is being used
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="bedrooms">
            How many bedrooms are there in the property?
          </label>
          <select class="govuk-select" id="bedrooms" name="bedrooms">
            <option value="no-bedrooms"></option>
            <option value="one-bedroom">1</option>
            <option value="two-bedrooms">2</option>
            <option value="three-bedrooms">3</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="guests">
            What is the maximum number of guests that the property can accomodate at one time?
          </label>
          <select class="govuk-select" id="guests" name="guests">
            <option value="no-guests"></option>
            <option value="one-guest">1</option>
            <option value="two-guests">2</option>
            <option value="three-guests">3</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="lets">
            How many bedrooms are being let out?
          </label>
          <select class="govuk-select" id="lets" name="lets">
            <option value="no-lets"></option>
            <option value="one-let">1</option>
            <option value="two-lets">2</option>
            <option value="three-lets">3</option>
          </select>
        </div>

        {{ govukButton({
          text: "Continue", href:"/property-info/managed"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
