{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What is your current home address?</h1>

    <form class="form" action="/path/of/next/page" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="whereDoYouLive"
                name="whereDoYouLive"
                type="radio"
                value="address1"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="whereDoYouLive"
              >
              2 Logg way, Birmingham, BG13 1HN
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="whereDoYouLive-2"
                name="whereDoYouLive"
                type="radio"
                value="address2"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="whereDoYouLive-2"
              >
              3 Logg way, Birmingham, BG13 1HN
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="whereDoYouLive-3"
                name="whereDoYouLive"
                type="radio"
                value="address3"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="whereDoYouLive-3"
              >
              4 Logg way, Birmingham, BG13 1HN
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue", href:"/personal-info/check-details"})
      }}
    </form>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I cannot see my address
        </span>
      </summary>
  <div class="govuk-details__text">
    Add some details here
  </div>
</details>
  </div>
</div>

{% endblock %}
