{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({"text": "Back", "href":
"javascript:window.history.back()"}) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What is your email address?</h1>
    <form class="form" action="/personal-info/phone-number" method="post">
      <div class="govuk-form-group">
        <input
          class="govuk-input"
          id="email"
          name="email"
          type="email"
          spellcheck="false"
          aria-describedby="email-hint"
          autocomplete="email"
          value="{{ data['email'] }}"
        />
      </div>
      {{ govukButton({"text": "Continue"}) }}
    </form>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">What is this used for?</span>
      </summary>
      <div class="govuk-details__text">
        Information about why we need your email.
      </div>
    </details>
  </div>
</div>
{% endblock %}
