{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What is your current home address?</h1>

    <form class="form" action="/path/of/next/page" method="post">
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="addressLine1">
            Address line 1
          </label>
          <input
            class="govuk-input"
            id="addressLine1"
            name="addressLine1"
            type="text"
            autocomplete="addressLine1"
            value="2 Logg way"
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="addressLine2">
            Address line 2 (optional)
          </label>
          <input
            class="govuk-input"
            id="addressLine2"
            name="addressLine2"
            type="text"
            autocomplete="addressLine2"
            value=""
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="townOrCity">
            Town or city
          </label>
          <input
            class="govuk-input"
            id="townOrCity"
            name="townOrCity"
            type="text"
            autocomplete="townOrCity"
            value="Birmingham"
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="county">
            County (optional)
          </label>
          <input
            class="govuk-input"
            id="county"
            name="county"
            type="text"
            autocomplete="county"
            value=""
          />
        </div>


        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode"> Postcode </label>
          <input
            class="govuk-input govuk-input--width-10"
            id="address-postcode"
            name="addressPostcode"
            type="text"
            autocomplete="postal-code"
            value="BG13 1HN"
          />
        </div>
      </fieldset>

      {{ govukButton({ text: "Continue", href:"/personal-info/check-details"
      }) }}
    </form>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> Why do we need this information? </span>
      </summary>
      <div class="govuk-details__text">
        We need to know your nationality so we can work out which elections
        you’re entitled to vote in. If you cannot provide your nationality,
        you’ll have to send copies of identity documents through the post.
      </div>
    </details>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What is this used for? </span>
      </summary>
      <div class="govuk-details__text">
        We need to know your nationality so we can work out which elections
        you’re entitled to vote in. If you cannot provide your nationality,
        you’ll have to send copies of identity documents through the post.
      </div>
    </details>
  
  </div>
</div>

{% endblock %}
