{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
     Apply online to register a new property as a short term let in England
    </h1>

    <h2 class="govuk-heading-l">
     Before you start
    </h2>

    <p>  including what they need to be able to complete the whole service (“Before you start”) i.e. owners D.O.B, gas safety cert</p>
    
    <h2 class="govuk-heading-l">
     Cost
    </h2>
    <p> xxx </p>

 
{{ govukButton({ text: "Start Now", href:"/personal-info/name", isStartButton:true }) }}
 <p> <strong> If you already have an existing registration? </strong></p>
 <a href="http://localhost:3000/existing-lookup/registration-number"> Renew/update an existing property registration</a>
  </div>
 
</div>

{% endblock %}
