{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({"text": "Back", "href":
"javascript:window.history.back()"}) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Apply online to register a new property as a short-term let in England
    </h1>
    <p class="govuk-body">
      Short-term letting is when a residential property is rented out (or let)
      for a period of less than 90 nights.
    </p>
    <h2 class="govuk-heading-m">
      Who qualifies to complete the short-term registration:
    </h2>
    <ul class="govuk-body">
      <li>Individual Homeowners</li>
      <li>Multiple property ownership</li>
      <li>Registering on behalf of a property owner</li>
      <li>Management agency</li>
      <li>
        As part of a limited liability company (LLC)/ investment companies/Ltd
      </li>
    </ul>
    <h2 class="govuk-heading-m">Before you start</h2>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Check the type of dwelling that needs registration
        </span>
      </summary>
      <div class="govuk-details__text">TBC</div>
    </details>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          See the full list of documents/certificates that you will need as
          proof of compliance
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul>
          <li>Fire risk assessments</li>
          <li>Gas safety certificates (where applicable)</li>
          <li>Electrical & product safety</li>
        </ul>
      </div>
    </details>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Check what happens to my data
        </span>
      </summary>
      <div class="govuk-details__text">TBC</div>
    </details>

    <h2 class="govuk-heading-m">How much will it cost</h2>
    <p class="govuk-body">
      Each application costs £45 per property. You can pay by MasterCard, Visa,
      Electron or Delta debit or credit card.
    </p>
    <h2 class="govuk-heading-m">How long it takes</h2>
    <p class="govuk-body">
      You’ll usually get a response within 5 weeks from submission.
    </p>
    {{ govukButton({"text": "Start registration now", "href":
    "/personal-info/initial-declaration", "isStartButton": true}) }} {% endblock
    %}
  </div>
</div>
