{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">How are you operating?</h1>

    <form class="form" action="/path/of/next/page" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="operatingModel"
                name="operatingModel"
                type="radio"
                value="individualOperator"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="operatingModel"
              >
                As an individual owner and operator
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="operatingModel-2"
                name="operatingModel"
                type="radio"
                value="multipleOperator"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="operatingModel-2"
              >
                As a multiple owner and operator (own the property with others)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="operatingModel-3"
                name="operatingModel"
                type="radio"
                value="llcOperator"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="operatingModel-3"
              >
                As part of a Limited Liability Company (LLC)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="operatingModel-4"
                name="operatingModel"
                type="radio"
                value="managementAgencyOperator"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="operatingModel-4"
              >
                As a management agency
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="operatingModel-5"
                name="operatingModel"
                type="radio"
                value="combinationOperator"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="operatingModel-5"
              >
                As a combination of the above
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue", href:"/personal-info/name" }) }}
    </form>
  </div>
</div>

{% endblock %}
