{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({"text": "Back", "href":
"javascript:window.history.back()"}) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Does the short-term rental comply with the relevant electrical safety
      standards for this type of accommodation?
    </h1>
    <form class="form" action="/compliance-info/review" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="electrical-safety-yes"
                name="electrical-safety"
                type="radio"
                value="Yes"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="electrical-safetyy"
                >Yes</label
              >
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="electrical-safety-no"
                name="electrical-safety"
                type="radio"
                value="No"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="electrical-safety"
                >No</label
              >
            </div>
          </div>
        </fieldset>
      </div>
      <p class="govuk-body">
        <a href="#" class="govuk-link"
          >Learn more about the electrical safety standards for short-term
          rental accommodation in England</a
        >
      </p>
      {{ govukButton({"text": "Continue"}) }}
    </form>
  </div>
</div>
{% endblock %}
