{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Confirm compliance with regulations for short-term lets in England
    </h1>

    <form class="form" action="/path/of/next/page" method="post">
      <p>Need to agree what content we want here.</p>

      {{ govukButton({ text: "Continue", href:
      "/compliance-info/add-proof-summary" }) }}
    </form>
  </div>
</div>

{% endblock %}
