{% extends "layouts/main.html" %}
{% block pageTitle %}
    Check your answers
    template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block
    beforeContent %}
    {{ govukBackLink({"text": "Back", "href": "javascript:window.history.back()"}) }}
{% endblock %}
{% block content %}

{%
    set addressLineOne = data['address-line-1'] or "2 Logg Lane" %} {% set
    townOrCity = data['town-or-city'] or "Birmingham" %} {% set addressPostcode =
    data['address-postcode'] or "BG13 1HN" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl">Review your answers</h1>
            <h2 class="govuk-heading-m">Address of short term rental</h2>
            <div class="govuk-inset-text">
                {{ addressLineOne }}
            </br>
            {{townOrCity}}
        </br>
        {{addressPostcode}}
</div>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Accomodation type</dt>
        <dd class="govuk-summary-list__value">
            {{ data['accomodation-type'] or "Not selected" }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">name</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total bedrooms</dt>
        <dd class="govuk-summary-list__value">
            {{ data['bedrooms'] or "Not selected"}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">date of birth</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Maximum guests</dt>
        <dd class="govuk-summary-list__value">
            {{ data['guests'] or "Not selected"}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">address</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Management agency</dt>
        <dd class="govuk-summary-list__value">
            {{ data['managed'] or "Not selected"}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">address</span></a>
        </dd>
    </div>
    {% if (data['managed'] == "Yes") %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Agency details</dt>
        <dd class="govuk-summary-list__value">
            <p>Hiltonz</p>
            <p>John Doe</p>
            <p>john.doe@example.com</p>
            <p>01234 567891</p>
            <p>123 Rag Lane SW15 2SR</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">address</span></a>
        </dd>
    </div>
    {% endif %}
    
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Gas safety certificate</dt>
        <dd class="govuk-summary-list__value">
            gas_certificate.jpg
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">address</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Fire safety regulation met</dt>
        <dd class="govuk-summary-list__value">
            {{ data['fire-safety'] or "Not selected" }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">address</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Electrical safety regulation met</dt>
        <dd class="govuk-summary-list__value">
            {{ data['electrical-safety'] or "Not selected" }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">address</span></a>
        </dd>
    </div>
</dl>
<form action="/confirmation" method="post" novalidate>
    {{ govukButton({"text": "Continue", "href": "/property-info/add-another-dwelling"}) }}
</form>
</div>
</div>
{% endblock %}
