{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}}{{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 1 of 6</p>
    <div
      class="govuk-notification-banner"
      role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner"
    >
      <div class="govuk-notification-banner__header">
        <h2
          class="govuk-notification-banner__title"
          id="govuk-notification-banner-title"
        >
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          If you’re applying on behalf of the owner, answer these statements on
          their behalf.
        </p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Declaration</h1>

    <form
      class="form"
      action="/r3-alternative-journey-without-tabs/0c-save-progress"
      method="post"
    >
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <p class="govuk-body">
              By continuing this application you agree that the information you
              will give is complete and correct.
            </p>
            <p class="govuk-body">
              You also confirm you have the relevant authorisation under any
              rental, lease or other agreement to use the property or properties
              for short-term letting.
            </p>
            <p class="govuk-body">
              Please note that your property may be subject to random spot
              checks or inspections to verify the accuracy of the details
              provided.
            </p>
            <p class="govuk-body">
              If you are completing this application on behalf of the property
              owner, you confirm that you have their consent to provide their
              information.
            </p>
            <p class="govuk-body">
              If you deliberately give the wrong or incomplete information, or
              you do not report any changes to your information, you may:
            </p>
            <ul class="govuk-body">
              <li>have your application rejected</li>
              <li>need to pay a financial penalty</li>
            </ul>
          </legend>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="initial-declaration-tick-1"
                name="initial-declaration"
                type="checkbox"
                value="declaration-agreement"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="declaration-agreement"
              >
                I acknowledge that my property may be subject to spot checks or
                inspections to verify the accuracy of the details provided.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="initial-declaration-tick-2"
                name="initial-declaration"
                type="checkbox"
                value="declaration-agreement"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="declaration-agreement"
              >
                I confirm that my rental, lease or other agreement authorises me
                to use the property or properties for short-term letting
                purposes.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="initial-declaration-tick-2"
                name="initial-declaration"
                type="checkbox"
                value="declaration-agreement"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="declaration-agreement"
              >
                I confirm that I have the property owner's consent to complete
                this application on their behalf, if applicable.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="initial-declaration-tick-3"
                name="initial-declaration"
                type="checkbox"
                value="over-18"
              />
              <label class="govuk-label govuk-checkboxes__label" for="over-18">
                I hereby declare that I am over 18 years of age.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="initial-declaration-tick-4"
                name="initial-declaration"
                type="checkbox"
                value="declaration-agreement"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="declaration-agreement"
              >
                I understand and agree with the above statement.
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
