{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 1 of 6</p>
    <h1 class="govuk-heading-l">Save your progress as you go</h1>

    <form
      class="form"
      action="/r3-alternative-journey-without-tabs/0d-confirm-email"
      method="post"
    >
      <p class="govuk-body">
        If you choose to save, you will be able to return to this application at
        any point over the next 30 days and pick up where you left off. You can
        return to this application at any time until 19 September 2024 at 16:59
      </p>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="save-email-address">
            Email address
          </label>
        </h1>
        <div id="save-email-address-hint" class="govuk-hint">
          We will only use this to send you information about this application.
        </div>
        <input
          class="govuk-input govuk-!-width-two-thirds"
          id="save-email-address"
          name="save-email-address"
          type="text"
          aria-describedby="save-email-address-hint"
        />
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>
    <p class="govuk-body">
      <a
        class="govuk-link"
        href="/r3-alternative-journey-without-tabs/1a-operating-model"
        >I do not want to save my progress as I go</a
      >
    </p>
  </div>
</div>

{% endblock %}
