{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 1 of 6</p>

    <form
      class="form"
      action="/r3-alternative-journey-without-tabs/0e-save-progress-confirmation"
      method="post"
    >
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="confirm-email">
            Confirm your email address
          </label>
        </h1>
        <div id="confirm-email-hint" class="govuk-hint">
          Check the email address you have entered is correct. If it is wrong,
          you can re-type it here.
        </div>
        <input
          class="govuk-input govuk-!-width-two-thirds"
          id="confirm-email"
          name="eventName"
          type="text"
          aria-describedby="confirm-email-hint"
        />
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
