{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 1 of 6</p>

    <form
      class="form"
      action="/r3-alternative-journey-without-tabs/1a-operating-model"
      method="post"
    >
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="save-email-address">
          Your progress is now being saved
        </label>
      </h1>
      <p class="govuk-body">
        We have sent a confirmation email to example@bmail.com
      </p>

      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
