{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}


<div class="govuk-grid-row govuk-grid-column-two-thirds">
<p class="govuk-hint">Section 4 of 6</p>
</div>

<div class="govuk-grid-row ">
  <h1 class="govuk-heading-l govuk-grid-column-two-thirds">
    {{ data['r3-whereDoYouLive'] or "123 Hill Lane, London, SW13 4AE"}}
  </h1>
  <div class="govuk-grid-column-one-third">
    
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-grid-column-two-thirds govuk-!-padding-left-0">Registration number</h2>
    <p class="govuk-grid-column-one-third"><strong class="govuk-tag govuk-tag--blue">
      Pending
    </strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full-width">
    <form class="form" action="/path/of/next/page" method="post"></form>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#property-details">
              Property details
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#compliance">
              Compliance
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#other-info">
              Nights occupied and planning permission
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#accessibility">
              Accessibility
            </a>
          </li>
          
        </ul>

<!-- Property details tab -->
        <div class="govuk-tabs__panel" id="property-details">
          <h2 class="govuk-heading-m govuk-!-padding-bottom-4">Property details summary</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Home Letting
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['home-letting'] or "Flat"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-accomodation">Change<span class="govuk-visually-hidden"> accommodation type</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of bedrooms
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['bedrooms-full-dwelling'] or "2"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-bedrooms">Change<span class="govuk-visually-hidden"> bedroom details</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of guests allowed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['bedrooms-full-dwelling'] or "4"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-bedrooms">Change<span class="govuk-visually-hidden"> guest number</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name of management agency
                </dt>
                <dd class="govuk-summary-list__value">
                  Hiltonz
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-management-agency">Change<span class="govuk-visually-hidden"> agency name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name of agent
                </dt>
                <dd class="govuk-summary-list__value">
                  John Doe
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-management-agency">Change<span class="govuk-visually-hidden"> agent name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address for agent
                </dt>
                <dd class="govuk-summary-list__value">
                  johndoe@example.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-management-agency">Change<span class="govuk-visually-hidden"> contact email</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact telephone number for agent
                <dd class="govuk-summary-list__value">
                  01234 567 891
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-management-agency">Change<span class="govuk-visually-hidden"> contact number</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence address for agent
                <dd class="govuk-summary-list__value">
                  123 Rag Lane, London, SW15 2SR
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9b-management-agency">Change<span class="govuk-visually-hidden"> correspondence address</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

<!-- Compliance tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="compliance">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-bottom-4">Compliance Summary</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gas in the property
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9c-gas-safety">Change<span class="govuk-visually-hidden"> gas in the property</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gas safety certificate 
                </dt>
                <dd class="govuk-summary-list__value">
                  gsc2024.jpg
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9c-gas-safety">Change<span class="govuk-visually-hidden"> gas safety upload</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Fire safety regulation met
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9c-fire-safety">Change<span class="govuk-visually-hidden"> fire safety regulation</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Fire Risk Assessment evidence
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">firerisk2024page1.jpg</p>
                  <p class="govuk-body">firerisk2024page2.jpg</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9c-fire-safety">Change<span class="govuk-visually-hidden"> fire risk upload 1</span></a>
                    </li>
                
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Smoke and Carbon monoxide met
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9e-smoke-alarm">Change<span class="govuk-visually-hidden"> fire safety regulation</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Furniture Fire safety regulations met 
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9c-furniture-safety">Change<span class="govuk-visually-hidden"> furniture fire safety regulation</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Electrical safety regulations met 
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9c-electrical-safety">Change<span class="govuk-visually-hidden"> electrical safety regulation</span></a>
                </dd>
              </div>
              
  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Electrical Installation Condition Report (EICR) 
                </dt>
                <dd class="govuk-summary-list__value">
                  esc2024.jpg
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9c-electrical-safety">Change<span class="govuk-visually-hidden"> electrical safety upload</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

 <!-- other-info tab -->

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other-info">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-bottom-4">Nights occupied and planning permission summary</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nights occupied this year (Jan 2024 - now)
                </dt>
                <dd class="govuk-summary-list__value">
                  72
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-other-info">Change<span class="govuk-visually-hidden"> nights occupied this year</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nights occupied last year (Jan 2023 - Dec 2023) 
                </dt>
                <dd class="govuk-summary-list__value">
                  90
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-other-info">Change<span class="govuk-visually-hidden"> nights occupied last year</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Planning permission 
                </dt>
                <dd class="govuk-summary-list__value">
                  Not required
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-other-info">Change<span class="govuk-visually-hidden"> planning permission</span></a>
                </dd>
              </div>
              
            </dl>
          </div>
        </div>

 <!-- Accessibility tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="accessibility">
          <h2 class="govuk-heading-m govuk-!-padding-bottom-4">Accessibility summary</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Step free entrance
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-accessibility">Change<span class="govuk-visually-hidden"> nights occupied this year</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Step free path to the entrance 
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-accessibility">Change<span class="govuk-visually-hidden"> nights occupied last year</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Accessible parking spot 
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-accessibility">Change<span class="govuk-visually-hidden"> planning permission</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Wheelchair accessible bathroom or wet room
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-accessibility">Change<span class="govuk-visually-hidden"> planning permission</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Doorway widths wider than 32 inches (81 cm)
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-alternative-journey-without-tabs/9d-accessibility">Change<span class="govuk-visually-hidden"> planning permission</span></a>
                </dd>
              </div>
              
              
              
            </dl>
  
          </div>
        </div>
    </form>
  </div>
  <div class="govuk-button-group govuk-!-margin-top-5">
    {{ govukButton({ text: "Continue to payment",
    href:"/r3-alternative-journey-without-tabs/11-payment-selection"})
    }}
    {{ govukButton({ text: "Return to list of properties",
      href:"/r3-alternative-journey-without-tabs/9-properties-task-page#list-of-properties",
      classes:"govuk-button--secondary"})}}
  </div>
  <p class="govuk-body govuk-!-margin-top-4">
    <a
      class="govuk-link"
      href="/r3-alternative-journey-without-tabs/application-saved-confirmation"
      >Save and come back later</a
    >
  </p>
</div>

{% endblock %}

