{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 2 of 6</p>

    <form
      class="form"
      action="/r3-alternative-journey-without-tabs/5-select-address"
      method="post"
    >
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label
            class="govuk-label govuk-label--l govuk-!-padding-bottom-4"
            for="address-selection"
          >
            Add your current home address
          </label>
        </h1>
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="r3-postcode">
            What is the postcode?
          </label>
        </h2>
        <div id="owner-name-hint" class="govuk-hint">
          Postcode example: SK10 6NL
        </div>
        <input
          class="govuk-input govuk-input--width-10"
          id="r3-postcode"
          name="r3-postcode"
          type="text"
        />
      </div>
      {{ govukButton({ text: "Find address" }) }}
    </form>
    <p class="govuk-body govuk-!-margin-top-4">
      <a
        class="govuk-link"
        href="/r3-alternative-journey-without-tabs/application-saved-confirmation"
        >Save and come back later</a
      >
    </p>
  </div>
</div>

{% endblock %}
