{% extends "layouts/main.html" %} {% block pageTitle %} Task list template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
{{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}}{{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}
<div class="govuk-grid-row govuk-grid-column-two-thirds">
  <p class="govuk-hint">Section 4 of 6</p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ data['r3-whereDoYouLive'] or "123 Hill Lane, London, SW13 4AE"}}
    </h1>

    <h2 class="govuk-heading-m">Property details</h2>

    {% set completedStatus = { tag: { text: "Completed", classes:
    "govuk-tag--blue" } } %} {% set incompleteStatus = { tag: { text: "Not
    started", classes: "govuk-tag--grey" } } %} {# To switch between the
    completed and incomplete statues, use some inline logic within the component
    below, like this: "status: (completedStatus if ... else incompleteStatus)"
    #} {{ govukTaskList({ idPrefix: "property-details-section", items: [ {
    title: { text: "Accommodation type" }, href:
    "/r3-alternative-journey-without-tabs/9b-accomodation", status:
    (incompleteStatus) }, { title: { text: "Bedrooms and guests" }, href:
    "/r3-alternative-journey-without-tabs/9b-bedrooms", status: incompleteStatus
    },{ title: { text: "Management agency details" }, href:
    "/r3-alternative-journey-without-tabs/9b-management-agency", status:
    incompleteStatus } ] }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Compliance</h2>

    {{ govukTaskList({ idPrefix: "compliance-section", items: [ { title: { text:
    "Gas safety" }, href: "/r3-alternative-journey-without-tabs/9c-gas-safety",
    status: incompleteStatus }, { title: { text: "Fire safety" }, href:
    "/r3-alternative-journey-without-tabs/9c-fire-safety", status:
    incompleteStatus }, { title: { text: "Furniture fire safety" }, href:
    "/r3-alternative-journey-without-tabs/9c-furniture-safety", status:
    incompleteStatus }, { title: { text: "Electrical Safety" }, href:
    "/r3-alternative-journey-without-tabs/9c-electrical-safety", status:
    incompleteStatus } ] }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Other</h2>

    {{ govukTaskList({ idPrefix: "third-section", items: [ { title: { text:
    "Nights occupied and planning permission" }, href:
    "/r3-alternative-journey-without-tabs/9d-other-info", status:
    incompleteStatus }, { title: { text: "Accessibility" }, href:
    "/r3-alternative-journey-without-tabs/9d-accessibility", status:
    incompleteStatus } ] }) }}

    <div class="govuk-button-group govuk-!-margin-top-5">
      {{ govukButton({ text: "Continue to summary", disabled: true }) }}
      <a
        class="govuk-link"
        href="/r3-alternative-journey-without-tabs/9-properties-task-page#list-of-properties"
        >Return to property list</a
      >
    </div>
  </div>
</div>
{% endblock %}
