{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}}{{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 4 of 6</p>
    

    <form
      class="form"
      action="/r3-alternative-journey-without-tabs/9a-alternative-task-list-completed"
      method="post"
    >
      <h1 class="govuk-heading-l">Does this property meet any accessibility needs?</h1>
      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              <strong>Step free entrance</strong> 
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No
                </label>
              </div>
            </div>

            <legend class="govuk-fieldset__legend govuk-!-margin-top-6">
              <strong>Step free path to the entrance</strong> 
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No
                </label>
              </div>
            </div>

            <legend class="govuk-fieldset__legend govuk-!-margin-top-6">
              <strong>Accessible parking spot</strong> 
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No
                </label>
              </div>
            </div>

            <legend class="govuk-fieldset__legend govuk-!-margin-top-6">
              <strong>Wheelchair accessible bathroom or wet room</strong> 
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No
                </label>
              </div>
            </div>

            <legend class="govuk-fieldset__legend govuk-!-margin-top-6">
              <strong>Doorway widths wider than 32 inches (81 cm)
              </strong> 
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No
                </label>
              </div>
            </div>

            

          <div id="with-hint-hint" class="govuk-hint govuk-!-margin-top-6">
            Any other comment
          </div>
          <textarea class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-2" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message govuk-!-padding-bottom-8">
            You can enter up to 200 characters
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What else can be classified as accessibility features?
              </span>
            </summary>
            <div class="govuk-details__text">
              More information will be provided here on what features can be classified as accessible.
            </div>
          </details>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Why are we asking for this information?
              </span>
            </summary>
            <div class="govuk-details__text">
              More information will be provided here on why we require this
              information.
            </div>
          </details>
    
    </fieldset>
    <div class="govuk-button-group govuk-!-margin-top-6">
      {{ govukButton({ text: "Save and continue"}) }} {{ govukButton({ text:
      "Return to property tasks", classes: "govuk-button--secondary", href:
      "/r3-alternative-journey-without-tabs/9a-alternative-task-list" }) }}
    </div>
    </form>
  </div>
  
    <p class="govuk-body govuk-!-margin-top-6">
      <a
        class="govuk-link"
        href="/r3-alternative-journey-without-tabs/application-saved-confirmation"
        >Save and come back later</a
      >
    </p>
  </div>
  
</div>

{% endblock %}
