{% extends "layouts/main.html" %} {% block pageTitle %} Confirmation page
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 6 of 6</p>

    {{ govukPanel({ titleText: "Registration successful", html: "123 Hill Lane,
    London, SW13 4AE registration number<br /><strong>ABC-DEF-123-456</strong
    ><br /><br />124 Hill Lane, London, SW13 4AE registration number<br /><strong
      >ABC-GEF-123-457</strong
    >" }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p>
      Your registration is now complete. You will receive an email with all the
      important details for your records.
    </p>
    <p>
      You will be contacted by phone or email if you need to provide more
      information.
    </p>
    <p>
      You can contact STL England on 0123 456 7891 or
      <a href="#" class="govuk-link">stl-england@dcms.gov.uk</a> if you have
      further questions regarding your registration.
    </p>
    <p>
      You can
      <a href="#" class="govuk-link">print and save this page as a PDF</a>(opens
      in a new tab)
    </p>
    <p>
      <a href="#" class="govuk-link">What did you think of this service?</a
      >(takes 30 seconds)
    </p>
    {{ govukButton({"text": "Finish and close", "href": "#"}) }}
  </div>
</div>
{% endblock %}
