{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-hint">Section 3 of 6</p>
    <h1 class="govuk-heading-l">Add a short-term let property address</h1>
    <div id="owner-name-hint" class="govuk-hint">
      You will be able to add multiple addresses
    </div>
    <form
      class="form"
      action="/r3-multiple-property-flow/7-addresses-summary"
      method="post"
    >
      <h2 class="govuk-heading-m">Select your property</h2>

      <h3 class="govuk-body govuk-!-margin-0">Postcode</h3>
      <p class="govuk-body">
        <strong>{{data['r3-postcode'] or "SW13 4AE"}}</strong>
      </p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="r3-whereDoYouLive">
          Select an address
        </label>
        <select
          class="govuk-select"
          id="r3-whereDoYouLive"
          name="r3-whereDoYouLive"
        >
          <option value="123 Hill Lane, London, SW13 4AE">
            123 Hill Lane, London, SW13 4AE
          </option>
          <option value="124 Hill Lane, London, SW13 4AE" selected>
            124 Hill Lane, London, SW13 4AE
          </option>
          <option value="125 Hill Lane, London, SW13 4AE">
            125 Hill Lane, London, SW13 4AE
          </option>
          <option value="126 Hill Lane, London, SW13 4AE">
            126 Hill Lane, London, SW13 4AE
          </option>
          <option value="127 Hill Lane, London, SW13 4AE">
            127 Hill Lane, London, SW13 4AE
          </option>
        </select>
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>
    <p class="govuk-body">
      <a href="#" class="govuk-link">I cannot find my address on the list</a>
    </p>
    <p class="govuk-body">
      <a
        class="govuk-link"
        href="/r3-multiple-property-flow/application-saved-confirmation"
        >Save and come back later</a
      >
    </p>
  </div>
</div>

{% endblock %}
