{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add a short-term let property address</h1>

    <form
      class="form"
      action="/r3-multiple-property-flow/8-addresses-summary"
      method="post"
    >
      <h2 class="govuk-heading-m">Select your property</h2>

      <h3 class="govuk-body govuk-!-margin-0">Postcode</h3>
      <p class="govuk-body">
        <strong>{{data['r3-postcode'] or "SW13 4AE"}}</strong>
      </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">Select an address</legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="r3-whereDoYouLive"
                name="r3-whereDoYouLive2"
                type="radio"
                value="123 Hill Lane, London, SW13 4AE"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="r3-whereDoYouLive"
              >
                123 Hill Lane, London, SW13 4AE
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="r3-whereDoYouLive-2"
                name="r3-whereDoYouLive2"
                type="radio"
                value="124 Hill Lane, London, SW13 4AE"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="r3-whereDoYouLive-2"
              >
                124 Hill Lane, London, SW13 4AE
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="r3-whereDoYouLive-3"
                name="r3-whereDoYouLive2"
                type="radio"
                value="125 Hill Lane, London, SW13 4AE"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="r3-whereDoYouLive-3"
              >
                125 Hill Lane, London, SW13 4AE
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="r3-whereDoYouLive-4"
                name="r3-whereDoYouLive2"
                type="radio"
                value="126 Hill Lane, London, SW13 4AE"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="r3-whereDoYouLive-4"
              >
                126 Hill Lane, London, SW13 4AE
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="r3-whereDoYouLive-4"
                name="r3-whereDoYouLive2"
                type="radio"
                value="127 Hill Lane, London, SW13 4AE"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="r3-whereDoYouLive-4"
              >
                127 Hill Lane, London, SW13 4AE
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>
    <p class="govuk-body">
      <a href="#" class="govuk-link">I can't find the address on the list</a>
    </p>
  </div>
</div>

{% endblock %}
