{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}


<div class="govuk-grid-row govuk-grid-column-two-thirds">
<p class="govuk-hint">Section 4 of 6</p>
</div>

<div class="govuk-grid-row ">
  <h1 class="govuk-heading-l govuk-grid-column-two-thirds">
    {{ data['r3-whereDoYouLive'] or "123 Hill Lane, London, SW13 4AE"}}
  </h1>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <a
        class="govuk-link"
        href="/r3-multiple-property-flow/application-saved-confirmation"
        >Save and come back later</a
      >
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-grid-column-two-thirds govuk-!-padding-left-0">Registration number</h2>
    <p class="govuk-grid-column-one-third"><strong class="govuk-tag govuk-tag--blue">
      Pending
    </strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full-width">
    <form class="form" action="/path/of/next/page" method="post"></form>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#accommodation-type">
              Accommodation type
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#bedroom-number">
              Bedrooms
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#guests">
              Guests
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#management-agency">
              Management agency
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#compliance">
              Compliance
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#other">
              Other
            </a>
          </li>
          <!-- <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#payments">
              Payments
            </a>
          </li> -->
        </ul>

<!-- Accomodation tab -->
        <div class="govuk-tabs__panel" id="accommodation-type">
          <h2 class="govuk-heading-l">Type of accommodation</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Home Letting
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['home-letting'] or "Flat"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#accomodation-type">Change<span class="govuk-visually-hidden"> accommodation type</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

<!-- Bedrooms tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="bedroom-number">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Bedroom number</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of bedrooms
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['bedrooms-full-dwelling'] or "2"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#bedroom-number">Change<span class="govuk-visually-hidden"> bedroom details</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

 <!-- Guests tab -->

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="guests">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Guests</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of guests allowed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['bedrooms-full-dwelling'] or "4"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#guests">Change<span class="govuk-visually-hidden"> guest number</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

 <!-- Management agency tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="management-agency">
          <h2 class="govuk-heading-l">Management agency</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name of management agency
                </dt>
                <dd class="govuk-summary-list__value">
                  Hiltonz
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> agency name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name of agent
                </dt>
                <dd class="govuk-summary-list__value">
                  John Doe
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> agent name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact email address
                </dt>
                <dd class="govuk-summary-list__value">
                  johndoe@example.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> contact email</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact telephone number
                <dd class="govuk-summary-list__value">
                  01234 567 891
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> contact number</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence address
                <dd class="govuk-summary-list__value">
                  123 Rag Lane, London, SW15 2SR
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> correspondence address</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

<!-- Compliance tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="compliance">
          <h2 class="govuk-heading-l">Add supporting documents to your application</h2>
          <p class="govuk-hint">You can upload up to 10 documents.</p>
          <p class="govuk-hint">Each document must be smaller than 20MB.
            You can upload the following file formats jpg, png, pdf, HEIC.</p>
        
          <div class="govuk-form-group">
            <div class="govuk-!-margin-bottom-4">
              <label class="govuk-label" for="gas-upload">Gas safety certificate</label>
              <div>
                  <input
                  class="govuk-file-upload"
                  id="gas-upload"
                  name="gasUpload"
                  type="file"
                />
                <a href="#" role="button" draggable="false"  data-module="govuk-button">
                  Remove
                </a>
              </div>
              <div>
                  <input
                  class="govuk-file-upload"
                  id="gas-upload2"
                  name="gasUpload"
                  type="file"
                />
                <a href="#" role="button" draggable="false"  data-module="govuk-button">
                  Remove
                </a>
              </div>
          </div>

          <div class="govuk-!-margin-bottom-4">
            <label class="govuk-label" for="fire-upload">Fire Risk Assessment evidence</label>
            <div>
                <input
                class="govuk-file-upload"
                id="fire-upload"
                name="fireUpload"
                type="file"
              />
              <a href="#" role="button" draggable="false"  data-module="govuk-button">
                Remove
              </a>
            </div>
            <div>
                <input
                class="govuk-file-upload"
                id="fire-upload2"
                name="fireUpload"
                type="file"
              />
              <a href="#" role="button" draggable="false"  data-module="govuk-button">
                Remove
              </a>
            </div>
        </div>
        
        <div class="govuk-!-margin-bottom-4">
          <label class="govuk-label" for="eicr-upload">Electrical Installation Condition Report (EICR)</label>
          <div>
              <input
              class="govuk-file-upload"
              id="eicr-upload"
              name="eicrUpload"
              type="file"
            />
            <a href="#" role="button" draggable="false"  data-module="govuk-button">
              Remove
            </a>
          </div>
          <div>
              <input
              class="govuk-file-upload"
              id="eicr-upload2"
              name="eicrUpload"
              type="file"
            />
            <a href="#" role="button" draggable="false"  data-module="govuk-button">
              Remove
            </a>
          </div>
      </div>
        
    
          
        </div>
    {{ govukButton({"text": "Save and continue", "href": "/r3-multiple-property-flow/9c-address-1-task-summary-certs#compliance"})
    }} {{ govukButton({ "text": "Upload later", "href":
    "#other", "classes": "govuk-button--secondary" }) }}
          
        </div>

<!-- Other tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other">
          <h2 class="govuk-heading-l">Other required information</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nights occupied this year (Jan 2024 - now)
              </dt>
              <dd class="govuk-summary-list__value">
                72
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/r3-multiple-property-flow/9b-address-1-task-summary-screens#compliance">Change<span class="govuk-visually-hidden"> nights occupied this year</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nights occupied last year (Jan 2023 - Dec 2023) 
              </dt>
              <dd class="govuk-summary-list__value">
                90
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/r3-multiple-property-flow/9b-address-1-task-summary-screens#compliance">Change<span class="govuk-visually-hidden"> nights occupied last year</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Planning permission 
              </dt>
              <dd class="govuk-summary-list__value">
                Not required
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/r3-multiple-property-flow/9b-address-1-task-summary-screens#compliance">Change<span class="govuk-visually-hidden"> planning permission</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exemptions
              </dt>
              <dd class="govuk-summary-list__value">
                Yes - 120 days
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/r3-multiple-property-flow/9b-address-1-task-summary-screens#compliance">Change<span class="govuk-visually-hidden"> exemptions</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exeption documents
              </dt>
              <dd class="govuk-summary-list__value">
                exemptiondocument.jpg
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/r3-multiple-property-flow/9b-address-1-task-summary-screens#compliance">Change<span class="govuk-visually-hidden"> exemption document</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Accessibility features
              </dt>
              <dd class="govuk-summary-list__value">
                Step free access
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="/r3-multiple-property-flow/9b-address-1-task-summary-screens#compliance">Change<span class="govuk-visually-hidden"> fire risk upload 1</span></a>
                  </li>
              
                </ul>
              </dd>
            </div> 
          </dl>
          <div class="govuk-button-group">
            <a href="/pay/payment-summary" class="govuk-button" data-module="govuk-button">
              Continue to payment
            </a>
            <a class="govuk-link" href="/r3-multiple-property-flow/9-properties-task-page#list-of-properties">Add details for another property</a>
          </div>
        </div>
<!-- Payments tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payments">
          <h2 class="govuk-heading-l">Payments</h2>
          
        </div>
        
      </div>

    </form>
  </div>
</div>

{% endblock %}

