{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a new service -
your <a class="govuk-link" href="#">feedback </a> will help us improve it.' })
}} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}


<div class="govuk-grid-row govuk-grid-column-two-thirds">
<p class="govuk-hint">Section 4 of 6</p>
</div>

<div class="govuk-grid-row ">
  <h1 class="govuk-heading-l govuk-grid-column-two-thirds">
    {{ data['r3-whereDoYouLive'] or "123 Hill Lane, London, SW13 4AE"}}
  </h1>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <a
        class="govuk-link"
        href="/r3-multiple-property-flow/application-saved-confirmation"
        >Save and come back later</a
      >
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-grid-column-two-thirds govuk-!-padding-left-0">Registration number</h2>
    <p class="govuk-grid-column-one-third"><strong class="govuk-tag govuk-tag--blue">
      Pending
    </strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full-width">
    <form class="form" action="/path/of/next/page" method="post"></form>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#accommodation-type">
              Accommodation type
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#bedroom-number">
              Bedrooms
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#guests">
              Guests
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#management-agency">
              Management agency
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#compliance">
              Compliance
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#other">
              Other
            </a>
          </li>
          <!-- <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#payments">
              Payments
            </a>
          </li> -->
        </ul>

<!-- Accomodation tab -->
        <div class="govuk-tabs__panel" id="accommodation-type">
          <h2 class="govuk-heading-l">Type of accommodation</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Home Letting
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['home-letting'] or "Flat"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#accomodation-type">Change<span class="govuk-visually-hidden"> accommodation type</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

<!-- Bedrooms tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="bedroom-number">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Bedroom number</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of bedrooms
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['bedrooms-full-dwelling'] or "2"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#bedroom-number">Change<span class="govuk-visually-hidden"> bedroom details</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

 <!-- Guests tab -->

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="guests">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Guests</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of guests allowed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['bedrooms-full-dwelling'] or "4"}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#guests">Change<span class="govuk-visually-hidden"> guest number</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

 <!-- Management agency tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="management-agency">
          <h2 class="govuk-heading-l">Management agency</h2>
          <div class="govuk-form-group">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name of management agency
                </dt>
                <dd class="govuk-summary-list__value">
                  Hiltonz
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> agency name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name of agent
                </dt>
                <dd class="govuk-summary-list__value">
                  John Doe
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> agent name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact email address
                </dt>
                <dd class="govuk-summary-list__value">
                  johndoe@example.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> contact email</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact telephone number
                <dd class="govuk-summary-list__value">
                  01234 567 891
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> contact number</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence address
                <dd class="govuk-summary-list__value">
                  123 Rag Lane, London, SW15 2SR
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/r3-multiple-property-flow/9a-address-1-tasks#management-agency">Change<span class="govuk-visually-hidden"> correspondence address</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

<!-- Compliance tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="compliance">
          <h2 class="govuk-heading-l">Compliance</h2>
          
    
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="gas-safety-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                Does the short-term rental have gas in the property?
              </h3>
            </legend>
    
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gas-safety" name="gas-safety" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="gas-safety">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gas-safety-2" name="gas-safety" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="gas-safety-2">
                  No
                </label>
              </div>
            </div>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text"
                  >How can I comply with current gas safety regulations for short-term rental accommodation in England?</span
                >
              </summary>
              <div class="govuk-details__text">
                Information on how you can comply would be shown here.
              </div>
            </details>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text"
                  >I don't have a gas safety certificate, what should I do?</span
                >
              </summary>
              <div class="govuk-details__text">
                Information on how you can obtain a gas safety certificate would be shown here.
              </div>
            </details>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                Does the short-term rental comply with the relevant fire safety standards for this type of accommodation?
              </h3>
            </legend>
    
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fire-safety" name="fire-safety" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="fire-safety">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fire-safety-2" name="fire-safety" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="fire-safety-2">
                  No
                </label>
              </div>
            </div>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text"
                  >How can I comply with current fire safety regulations for short-term rental accommodation in England?</span
                >
              </summary>
              <div class="govuk-details__text">
                Information on how you can comply would be shown here.
              </div>
            </details>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                Does the short-term rental comply with the relevant electrical safety standards for this type of accommodation?
              </h3>
            </legend>
    
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="electrical-safety" name="electrical-safety" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="electrical-safety">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="electrical-safety-2" name="electrical-safety" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="electrical-safety-2">
                  No
                </label>
              </div>
            </div>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text"
                  >How can I comply with current electrical safety regulations for short-term rental accommodation in England?</span
                >
              </summary>
              <div class="govuk-details__text">
                Information on how you can comply would be shown here.
              </div>
            </details>
          </fieldset>
          <div class="govuk-form-group">
            <label class="govuk-label" for="gas-upload">Upload a file</label>
            <input
              class="govuk-file-upload"
              id="gas-upload"
              name="gasUpload"
              type="file"
            />
          </div>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text"
                >Types of file you can upload</span
              >
            </summary>
            <div class="govuk-details__text">
              You can upload the following file formats jpg, png, pdf, HEIC
            </div>
          </details>
        </div>
    {{ govukButton({"text": "Save and continue", "href": "#other"})
    }} {{ govukButton({ "text": "Upload later", "href":
    "#other", "classes": "govuk-button--secondary" }) }}
          
        </div>

<!-- Other tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other">
          <h2 class="govuk-heading-l">Required Data</h2>
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-fieldset__legend--s" for="present-occupation">
                How many nights has the property been occupied for this year (Jan 2024 -now)?
              </label>
              <input
                class="govuk-input govuk-input--width-10"
                id="present-occupation"
                name="present-occupation"
                type="text"
                autocomplete="present-occupation"
              />
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-fieldset__legend--s" for="previous-occupation">
                How many nights was the property occupied for last year (Jan 2023 - Dec 2023)?
              </label>
              <input
                class="govuk-input govuk-input--width-10"
                id="previous-occupation"
                name="previous-occupation"
                type="text"
                autocomplete="previous-occupation"
              />
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-fieldset__legend--s" for="exemptions">
                Does this property have any exemptions? If yes, please note the number of days.
              </label>
              <input
                class="govuk-input govuk-input--width-10"
                id="exemptions"
                name="exemptions"
                type="text"
                autocomplete="exemptions"
              />
            </div>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text"
                  >What counts as an exemption?</span
                >
              </summary>
              <div class="govuk-details__text">
                Details on what counts as an exemption would be shown here.
              </div>
            </details>
            
            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s" for="with-hint">
                  Does this property meet any accessibility needs?
                </label>
              </h1>
              <div id="with-hint-hint" class="govuk-hint">
                For example, step free access, wheelchair accessible bathroom/wet rooms
              </div>
              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
              <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 200 characters
              </div>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="planning-permission">
                If the property is in London, has planning permission been granted or is it not required?
              </label>
              <select class="govuk-select" id="planning-permission" name="planning-permission">
                <option value="blank" selected></option>
                <option value="yes">Yes</option>
                <option value="not-required" >Not required</option>
              </select>
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="data-upload">Upload a file</label>
              <input
                class="govuk-file-upload"
                id="data-upload"
                name="dataUpload"
                type="file"
              />
            </div>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text"
                  >What can I upload as proof?</span
                >
              </summary>
              <div class="govuk-details__text">
                Details of what can be uploaded as proof will be shown here.
              </div>
            </details>
            <div class="govuk-button-group">
              <a href="/pay/payment-summary" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Continue to payment
              </a>
              <a class="govuk-link" href="/r3-multiple-property-flow/9-properties-task-page">Add details to another property</a>
            </div>
            
          </div>
          </fieldset>
          
        </div>
<!-- Payments tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payments">
          <h2 class="govuk-heading-l">Payments</h2>
          
        </div>
        
      </div>

    </form>
  </div>
</div>

{% endblock %}

