{% extends "layouts/main.html" %} {% block pageTitle %} Confirmation page
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}{% block
beforeContent %} {{ govukPhaseBanner({ tag: { text: "Alpha" }, html: 'This is a
new service - your <a class="govuk-link" href="#">feedback </a> will help us
improve it.' }) }}{{ govukBackLink({ text: "Back", href:
"javascript:window.history.back()" }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({ titleText: "Your application has been saved" }) }}

    <p>
      We have sent an email to example@stl.co.uk with instructions on how to
      return to your application.
    </p>

    <h2 class="govuk-heading-m">Application status</h2>

    <p>Your application has been saved, but has not been submitted.</p>

    <h2 class="govuk-heading-m">What to do next</h2>

    <p>
      You need to return to your application, and submit it, before 19 September
      2024 at 16:59.
    </p>

    <p>It is now safe to close this window.</p>
  </div>
</div>

{% endblock %}
